<h1>Brugram home page</h1>

<p>
	<%= link_to 'Add a Photo', new_photo_path %>
</p>

<% @photos.each do |photo| %>
		<p>
			<%= link_to (image_tag photo.image), photo_path(photo) %>
		</p>
	<strong>
		<p>
			<%= link_to photo.caption, photo_path(photo) %>
		</p><br>
	</strong>
<% end %>